@use "../utils/" as *;

.stepSection {
  padding: 30px;
  width: 35%;
  height: 100%;
  border-radius: 8px;
  background: {
    image: $desktopbg;
    repeat: no-repeat;
  }

  @include bp("large") {
    display: none;
  }
}

.steps {
  @include flex($direction: column, $gap: 20px);
}
